<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
	<xacro:macro name="body" params="parent *joint_origin">
		<joint name="base_joint" type="fixed">
			<xacro:insert_block name="joint_origin"/>
			<parent link="${parent}"/>
			<child  link="base_link"/>
		</joint>
		<link name="base_link">
			<visual>
				<origin xyz="-0.028241 -0.073553 0.01"/>
				<geometry>
					<mesh filename="package://happymimi_description/meshes/dae/megarover.dae"/>
				</geometry>
			</visual>
	  </link>

    <!-- <joint name="doutai_joint" type="fixed"> -->
    <!-- <xacro:insert_block name="joint_origin"/> -->
    <!-- <parent link="base_link"/> -->
    <!-- <child  link="doutai_link"/> -->
		<!-- </joint> -->
    <!-- <link name="doutai_link"> -->
		<!-- 	<visual> -->
		<!-- 		<origin xyz="&#45;0.08 0.10455 0.33" rpy="0 3.14 1.57"/> -->
    <!--     <color rgba="46 43 44 0.2" /> -->
		<!-- 		<geometry> -->
    <!--       <mesh filename="package://happymimi_description/meshes/stl/gen2_body.stl" scale="0.01 0.01 0.01" /> -->
		<!-- 		</geometry> -->
		<!-- 	</visual> -->
		<!-- </link> -->

	</xacro:macro>
</robot>
