<?xml version="1.0" encoding="utf-8"?>
<launch>
  <!-- 2dlidarの起動 -->
  <include file="$(find happymimi_bringup)/launch/include/sensor/2dlidar.launch" />

  <!-- realsenseの起動 -->
  <!-- <include file="$(find happymimi_bringup)/launch/include/sensor/realsense.launch" /> -->
  <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" />

  <!-- respeakerの起動 -->
  <include file="$(find happymimi_bringup)/launch/include/sensor/respeaker.launch" />

</launch>
