<?xml version="1.0" encoding="utf-8"?>
<launch>
  <arg name="2dlidar" default="false" />
  <arg name="realsense" default="false" />
  <arg name="dynamixel" default="false" />
  <arg name="respeaker" default="false" />
  <arg name="rs_max_depth_limit" default="3.0" />

  <!-- 2dlidarの起動 -->
  <group if="$(arg 2dlidar)">
    <include file="$(find happymimi_bringup)/launch/include/sensor/2dlidar.launch" />
  </group>

  <!-- realsenseの起動 -->
  <group if="$(arg realsense)">
    <!-- <include file="$(find realsense2_camera)/launch/rs_camera.launch" /> -->
    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" />
    <rosparam>/camera/realsense2_camera/max_depth_limit: $(arg rs_max_depth_limit)</rosparam>
  </group>

  <!-- dynamixel_motorの起動 -->
  <group if="$(arg dynamixel)">
    <include file="$(find happymimi_bringup)/launch/include/sensor/motor_setup.launch" />
  </group>

  <!-- respeakerの起動 -->
   <group if="$(arg respeaker)">
     <include file="$(find happymimi_bringup)/launch/include/sensor/respeaker.launch" />
  </group>

</launch>
