# megarocer
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6015", ATTRS{serial}=="D200BJDV", SYMLINK+="megarover", MODE="0666"

# UTM-30LX
KERNEL=="ttyACM[0-9]*", ACTION=="add", ATTRS{idVendor}=="15d1", SYMLINK+="utm30lx", MODE="0666", GROUP="dialout"

# respeaker
SUBSYSTEM=="usb", ATTR{idProduct}=="0018", ATTR{idVendor}=="2886", MODE:="0666", SYMLINK+="respeaker"

# dynamixel moter
KERNEL=="ttyUSB*", DRIVERS=="ftdi_sio", MODE="0666", ATTR{device/latency_timer}="1", SYMLINK+="dynamixel_moter"
